.poll {
  position: relative;
}

.options {
  list-style: none;
  margin: 0 0 0 12px;
  padding: 0;
}

.option {
  --color: var(--almost-white);

  color: var(--color);
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 3px 0;
  font-weight: 500;
  font-family: var(--narrow-font-family);
}

.option::before {
  flex: 0 0 auto;
  content: " ";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 18px;
  border-radius: 100%;
  border: 2px solid var(--color);
}

.answered .option {
  opacity: 0.2;
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

.answered .option::before {
  background-color: transparent;
}

.option:hover::before,
.answered .selected.option::before {
  background-color: var(--color);
}

.answered .selected.option {
  text-decoration: none;
  color: var(--red);
  opacity: 1;
}

.answered.correct .selected.option,
.answered.wrong .option.correctAnswer {
  color: var(--green);
  opacity: 1;
}

.answered.correct .option.selected::before,
.answered.wrong .option.correctAnswer::before {
  --color: var(--green);
}

.answered.wrong .option.selected::before {
  --color: var(--red);
}

.required::after {
  content: " ";
  display: block;
  height: 150px;
  left: -2vw;
  width: calc(100% + 4vw);
  position: absolute;
  opacity: 1;
  background: linear-gradient(var(--almost-black), 80%, transparent);
  z-index: 2;
  transition: all 1s ease-out;
}

.required.answered::after {
  opacity: 0;
  height: 0;
}

.required ~ * {
  filter: blur(10px);
  transition: filter 1s ease-out;
  user-select: none;
  -webkit-user-drag: none;
}

.required.answered ~ * {
  filter: blur(0);
  user-select: auto;
}

.response {
  transition: all 500ms ease-out;
  height: 48px;
  display: inline-flex;
  align-items: center;
  margin: 12px 0 18px 0;
  padding: 0 36px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 6px;
  opacity: 0;
  color: var(--background-color);
}

.answered .response {
  opacity: 1;
}

.answered.wrong .response {
  background-color: var(--red);
}

.answered.correct .response {
  background-color: var(--green);
}
